body {
        font: 24px Helvetica;
        background: #999999;
        margin: 0;
        padding:0;
    }

    #main {
        min-height: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row;
        align-items: stretch;
        width: 100%;
        left: 0 !important;

    }
 
    #main > .main-section {
        margin: 4px;
        background: #fff;
        flex: 3 1 60%;
        order: 3;
        min-height: auto;
    }

    #main > .left-section {
        margin: 4px;
        background: #fff;
        flex: 1 6 20%;
        order: 1;
        min-height: auto;
    }
  
    #main > .right-section {
        margin: 4px;
        background: #fff;
        flex: 1 6 20%;
        order: 2;
        min-height: auto;
    }
 
    header, footer {
        display: block;
        margin: 4px;
        min-height: 100px;
        background: #fff;
    }
    #drawer {
    display: none;
    }
 
    /* Too narrow to support three columns */
    @media all and (max-width: 640px) {
        #main, #page {
            flex-direction: column;
        }

        #main > article, #main > nav, #main > aside {
        /* Return them to document order */
            order: 0;
        }
  
        #main > nav, #main > aside, header, footer {
            min-height: 50px;
            max-height: 50px;
        }
    }


a.nav-link {
    display: block;
    padding: 15px 5px;
    border-bottom: 1px solid #999999;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
paper-tab.main-tab-sec {
    border-bottom: 1px solid #999999;
    margin: -1px;
}
paper-tab.main-tab-sec.iron-selected {
    background: #099fc3;
    color: #fff;
}
a.nav-link.iron-selected {
    background: #099FC3;
    color: #FFF;
}